# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SpellMaker.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Repositories\Games\SpellMaker\SpellMaker\.idea\.idea.SpellMaker\.idea/dataSources/
/dataSources.local.xml
